@page "/"

    <div class="container">
        <div class="container-fluid">
            <h1>Our selection of pizzas</h1>

            <!-- Menu -->
            @foreach (var pizza in State.Menu.Pizzas)
            {
                <div class="row">
                    <div class="col">@pizza.Name</div>
                    <div class="col">@pizza.Price</div>
                    <div class="col">
                        <img class="landscape" src="@SpicinessImage(pizza.Spiciness)" alt="@pizza.Spiciness" />
                    </div>
                    <div class="col">
                        <button class="btn btn-success" @onclick="@(()=>AddToBasket(pizza))">Add</button>
                    </div>
                </div>
            }
            <!-- Orders -->
            @if (State.Basket.Orders.Any())
            {
                <h3>Your current order</h3>
                @foreach (var (pizza, pos) in State.Basket.Orders.Select((id, pos) => (State.Menu.GetPizza(id), pos)))
                {
                    <div class="row">
                        <div class="col">
                            @pizza.Name
                        </div>
                        <div class="col">
                            @pizza.Price
                        </div>
                        <div class="col">
                            <button class="btn btn-danger" @onclick="@(()=>RemoveFromBasket(pos))">
                                Remove
                            </button>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col">Total:</div>
                    <div class="col">@State.TotalPrice</div>
                    <div class="col"></div>
                </div>
            }
            <!-- Orders -->
            <h3>Your details</h3>
            <EditForm OnValidSubmit="PlaceOrder" Model="@State.Basket.Customer">
                <DataAnnotationsValidator />
                <div class="form-group row mb-1">
                    <label class="col-3 col-form-label" for="FirstName">Name:</label>
                    <div class="col-9">
                        <InputText class="form-control" @bind-Value="State.Basket.Customer.Name" />
                        <ValidationMessage For="@(()=>State.Basket.Customer.Name)" />
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-3 col-form-label" for="LastName">Street:</label>
                    <div class="col-9">
                        <InputText class="form-control" @bind-Value="State.Basket.Customer.Street" />
                        <ValidationMessage For="@(()=>State.Basket.Customer.Street)" />
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-3 col-form-label" for="BirthDay">City:</label>
                    <div class="col-9">
                        <InputText class="form-control" @bind-Value="State.Basket.Customer.City" />
                        <ValidationMessage For="@(()=>State.Basket.Customer.City)" />
                    </div>
                </div>
                <div class="form-group mb-0">
                    <button type="submit" id="BtnRegister" class="btn btn-primary">Checkout</button>
                </div>
            </EditForm>
        </div>
    </div>